body{
    background-color: rgb(0, 145, 255);
     width: 200px;
     position: absolute;
     left: 40%;
     top: 500px;
     transform: translate(20px);
     background-image: url(caixa\ tem.webp);
     background-repeat: cover;
   
     
 
 }
button{
    background-color: rgb(255, 146, 3);
}